@mixin flexCenterColumn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

@mixin flexCenterRow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}