@import "sasscolors";
@import "sassmixins";

*{
    padding: 0;
    box-sizing: border-box;
}

.body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(gallery/sunnybeach.png);
    input[type=text]{
        @include flexCenterColumn;
        appearance: none;
        border: none;
        outline: none;
        background: none;

        background-color: rgba(255, 255, 255, 0.26);
        border-radius: 16px 16px;
        box-shadow: 0 5px rgba(0,0,0,0.2);

        color: #fff;
        font-size: 2.5em;
        text-align: center;
        font-weight: 600;

        transition: 0.4s ease;

        margin: 5% auto auto auto;
        &:focus{
            background-color: rgba(255,255,255,0.75);
            box-shadow: 0 5px rgba(0,0,0,0.3);
            text-align: center;

            color: #444444;
        }
    }
    button{
        @include flexCenterColumn;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        background: #5a5a5a;
        padding: 8px 24px;
        border-radius: 16px;
        border: none;
        transition: all 0.4s ease 0s;
        margin-top: 2%;
        font-size: 2rem;
        font-weight: 500;
        &:hover{
            background: #ffffff;
            color: rgb(0, 0, 0);
            letter-spacing: 1px;
            box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
            transition: all 0.4s ease 0s;
        }
    }
    #city{
        margin-top: 2.5%;
        font-size: 4.5rem;
        font-weight: 700;
        
    }
    .temp-box{
        width: 100%;
        text-align: center;
        display: block;
        margin: auto;
        .temp{
            font-size: 4rem;
            font-weight: 800;
            color: $light-color;
            margin: 1% auto auto auto;
            display: inline-block;
            padding: 80px;
            background-color: rgba(255,255,255,0.2);
            border-radius: 32px;
        }
    }
    #day,#mood{
        @include BigFont;
        margin-top: 3%;
    }


    color: $light-color;
}




